
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      
      <li>
          <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}"  style="text-decoration: none; color: #b909ef">
              <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa  fa-stack-1x fa-inverse">E</i>
              </span>
          </a>
      </li>
      <!-- <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li> -->
      <!--<li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li> -->
    </ul>
  </div>
</nav>
